---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Taipei%20Main%20Station&inputtype=textquery&key=AIzaSyCkF7rIDbq8WFxWv8i09_dpeTkf1ueXwRA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJcYy0Y3KpQjQRXiW_s2lGln8"
              }
           ],
           "debug_log" : {
              "line" : []
           },
           "status" : "OK"
        }
  recorded_at: Sun, 28 Oct 2018 07:56:34 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=&inputtype=textquery&key=AIzaSyCkF7rIDbq8WFxWv8i09_dpeTkf1ueXwRA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [],
           "debug_log" : {
              "line" : []
           },
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sun, 28 Oct 2018 09:36:59 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Taipei%20Main%20Station&inputtype=textquery&key=BAD_KEY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [],
           "error_message" : "The provided API key is invalid.",
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 28 Oct 2018 09:44:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,rating,formatted_address&key=AIzaSyCkF7rIDbq8WFxWv8i09_dpeTkf1ueXwRA&placeid=ChIJcYy0Y3KpQjQRXiW_s2lGln8
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "Taiwan, 台北市黎明里",
              "name" : "Taipei Main Station",
              "rating" : 4.1
           },
           "status" : "OK"
        }
  recorded_at: Sun, 28 Oct 2018 09:46:01 GMT
recorded_with: VCR 4.0.0
